<div class="modal-content  col-md-offset-5 col-md-2">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Success!</h2>
    </div>
    <div class="modal-body">
        <div><button class="close btn btn-primary" data-dismiss="modal" area-hidden="true">Click to close</button>
        </div>
    </div>
</div>

